#body {
    background-color: black;
    color:white;
}

#h1 {
    color: navy;
    margin-left: 20px;
}

.box { width: 100px; float: left; margin: 0 10px 10px 0; }
.red { color: red; background: pink; }
.blue { color: blue; background: lightblue; }
.green { color: green; background: lightgreen; }
.border { border: 5px solid black; }
